.body{
  background-color: slategray;
}
#mavs {
  color: SlateBlue;
}
#p1 {
  font-family: Roboto, verdana;
  color: Violet;
}
#p2 {
  font-family: verdana, arial;
  color: tomato;
}
#trade {
  font-family: "lucida console", "courier new";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: DodgerBlue;
}
.chip {
  border-style: ridge;
  color: white;
}
.p4 {
  color: orange;
}
.HOF {
  border-style: solid;
  border-width: 3px;
  border-color: hsl(273, 100%, 54%);
  border-radius: 15px;
  color: red;
}
#box1 {
  width: 100px;
  height: 100px;
  background-color: rgb(234, 234, 234);
  box-shadow: 3px 3px 5px;
}
/* 2011 to 2013 dont work */
.2011 {
  color: rgb(199, 50, 202) !important;
}
.2012 {
  color: hsl(60, 100%, 60%) !important;
}
.2013 {
  color: hsl(274, 80%, 26%) !important;
}
.blue {
  text-shadow: 3px 3px 5px hsl(136, 90%, 33%), -3px -3px 5px hsl(175, 87%, 50%);
}
#lock {
  border-bottom: 3px solid red;
  border-top: 3px solid yellow;
  border-left: 3px dotted orange;
  border-right: 3px dotted green;

  border-radius: 10px;
  border-style: dashed;
  color: rgb(199, 32, 201);
}
.box {
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;
  margin: auto;
}
#box1 {
  background-color: hsl(0, 100%, 60%);
}
#box2 {
  background-color: hsl(189, 100%, 55%)
}
#img1 {
  float: left;
  margin-right: 10px;
}
#img2 {
  float: right;
  margin-left: 10px;
}
.img {
  border: 3px solid;
  display: flow-root;
}
