.body{
  background-color: slategray;
}
#mavs {
  color: SlateBlue;
}
#p1 {
  color: Violet;
}
#p2 {
  color: tomato;
}
#trade {
  color: DodgerBlue;
}
.chip {
  color: white;
}
.p4 {
  color: orange;
}
.HOF {
  color: red;
}
#lock {
  color: rgb(199, 32, 201)
}
#2011 {
  color: #deb031;
}
#2012 {
  color:
}
