/*  background-image: url(the picture);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
.body{
  background-color: SlateGray;
}
#mavs {
  color: SlateBlue;
}
#p1 {
  font-family: Roboto, verdana;
  color: Violet;
}
#p2 {
  font-family: verdana, arial;
  color: tomato;
}
#trade {
  font-family: "lucida console", "courier new";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: DodgerBlue;
}
/* overflow properties: visible, hidden, clip also u can use overflow-clip-margin: a certain px, scroll, auto */
.div {
  border: 2px solid;
  height: 75 px;
  overflow: scroll;
}
.chip {
  border-style: ridge;
  color: white;
}
.p4 {
  color: orange;
}
.HOF {
  border-style: solid;
  border-width: 3px;
  border-color: hsl(273, 100%, 54%);
  border-radius: 15px;
  color: red;
}
#box1 {
  width: 100px;
  height: 100px;
  background-color: rgb(234, 234, 234);
  box-shadow: 3px 3px 5px;
}
/* 2011 to 2013 dont work */
.2011 {
  color: rgb(199, 50, 202) !important;
}
.2012 {
  color: hsl(60, 100%, 60%) !important;
}
.2013 {
  color: hsl(274, 80%, 26%) !important;
}
.blue {
  text-shadow: 3px 3px 5px hsl(136, 90%, 33%), -3px -3px 5px hsl(175, 87%, 50%);
}
#lock {
  border-bottom: 3px solid red;
  border-top: 3px solid yellow;
  border-left: 3px dotted orange;
  border-right: 3px dotted green;

  border-radius: 10px;
  border-style: dashed;
  color: rgb(199, 32, 201);
}
.box {
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;
  margin: auto;
}
#box1 {
  background-color: hsl(0, 100%, 60%);
}
#box2 {
  background-color: hsl(189, 100%, 55%)
}
#img1 {
  float: left;
  margin-right: 10px;
}
#img2 {
  float: right;
  margin-left: 10px;
}
.img {
  border: 3px solid;
  display: flow-root;
}
/* visibility is an option asw */
.div1 {
  background-color: hsl(0, 100%, 75%);
  width: 100px;
  height: 100px;
  display: inline-block;
}
.span1 {
  background-color: hsl(204, 100%,75%);
  width: 100px;
  height: 100px;
  display: inline-block;
}
.boxy {
  border:2px solid;
  padding: 25px;
  box-sizing: border-box;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;

  min-height: 50%;
}
.container {
  background-color: hsl(0, 0%, 24%);
}
/* there are many postio stuff this is the list relative, fixed, absolute, sticky, static */
.boxy1 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  top: 100px;
  left: 100px;
}
/* the four types of comibanators are blank space = descendant, > = child, + = adjacent sibling, ~ for general sibling */
.container1 {
  border: 2px solid;
}
.container1 > p {
  background-color: hsl(60, 100%, 70%);
}
a:link {
  color: hsl(221, 100%, 74%);
}
a:hover {
  color: hsl(221, 100%, 86%);
  font-size: 1.1em;
}
a:active {
  color: hsl(240, 100%, 58%);
  font-size: 1.1em;
}
a:visited {
  color: hsl(100,0%, 75%);
}
/* nth child changes quantity */
li:hover {
  background-color: hsl(60, 100%, 72%);
}
li:not(:hover) {
  background-color: hsl(0, 0%, 76%);
}
.greeting {
  background-color: hsl(196, 100%, 81%);
  padding: 10px;
  display: none;
}
.greeting:hover p{
  display: block;
}
